<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yizan.community.business"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="0.1.04.21">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- tencent map -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- since 1.6.0 -->


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- Required -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".YizanApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoadingActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/TabTheme"/>
        <activity android:name=".ui.OrderSearchListActivity"/>
        <activity
            android:name=".ui.NewbieGuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".ui.SettingActivity"/>
        <activity android:name=".ui.WebViewActivity"/>
        <activity android:name=".ui.LoginActivity"/>
        <activity android:name=".ui.ChangedPasswordActivity"/>
        <activity android:name=".ui.PhoneLoginActivity"/>
        <activity android:name=".ui.ViewImageActivity"/>
        <activity android:name=".ui.StatisticsActivity"/>
        <activity android:name=".ui.OpinionActivity"/>
        <activity android:name=".ui.StatisticsMonthActivity"/>
        <activity android:name=".ui.InformCenterActivity"/>
        <activity android:name=".ui.InformDetailsActivity"/>
        <activity
            android:name=".ui.InputBoxDialogActivity"
            android:theme="@style/activity_full_transparent"/>
        <!-- 更多 -->
        <activity android:name=".ui.LeaveTimeActivity"/>
        <activity android:name=".ui.LeaveHistoryListActivity"/>
        <activity android:name=".ui.UserEditActivity"/>
        <activity
            android:name=".ui.WeekActivity"
            android:theme="@style/activity_full_transparent"/>
        <activity android:name=".ui.DistrictRangeActivity"/>
        <activity android:name=".ui.ReviewsReplyActivity"/>
        <activity android:name=".ui.SuggestionsActivity"/>
        <activity android:name=".ui.OrderDetailsActivity"/>
        <activity android:name=".ui.LeaveDetailsActivity"/>
        <activity android:name=".ui.CommissionListActivity"/>
        <activity android:name=".ui.EditMobileActivity"/>
        <activity android:name=".ui.FeedBackActivity"/>
        <activity android:name=".ui.ChangedMobileActivity"/>
        <activity android:name=".ui.CheckOldMobileActivity"/>
        <activity android:name=".ui.BusinessStatictasActivity"/>
        <activity android:name=".ui.MonthStatisticsActivity"/>
        <activity android:name=".ui.MonthDetailActivity"/>
        <activity android:name=".ui.SHopMessageActivity"/>
        <activity android:name=".ui.EditShopNameActivity"/>
        <activity android:name=".ui.EditShopAnnountmentActivity"/>
        <activity android:name=".ui.EditShopTellActivity"/>
        <activity android:name=".ui.EditShopIntroductionActivity"/>
        <activity android:name=".ui.EditShopDeliveryActivity"/>
        <activity android:name=".ui.EditShopTimeActivity"/>
        <activity android:name=".ui.EvluationManagerActivity"/>

        <receiver
            android:name=".util.PushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.BindCheckMobileActivity"/>
        <activity android:name=".ui.CatesListActivity"/>
        <activity
            android:name=".ui.GoodsListActivity"
            android:theme="@style/TabTheme"/>
        <activity android:name=".ui.CateAddActivity"/>
        <activity android:name=".ui.GoodAddActivity"/>
        <activity
            android:name=".ui.GoodsSearchActivity"
            android:label="@string/title_activity_goods_search"
            android:theme="@style/TabTheme"/>
        <activity
            android:name=".ui.ServiceAddActivity"
            android:label="@string/title_activity_service_add"/>
        <activity
            android:name=".ui.UserBillActivity"
            android:label="@string/title_activity_user_bill"
            android:theme="@style/TabTheme"/>
        <activity
            android:name=".ui.BillFetchActivity"
            android:label="@string/title_activity_bill_fetch"/>
        <activity
            android:name=".ui.FetchRecordActivity"
            android:label="@string/title_activity_fetch_record"/>
        <activity
            android:name=".ui.GoodDetailActivity"
            android:label="@string/title_activity_good_detail"/>
        <activity
            android:name=".ui.StaffListActivity"
            android:label="@string/title_activity_staff_list"/>
        <activity
            android:name=".ui.EditShopServiceFeeActivity"
            android:label="@string/title_activity_edit_shop_service_fee"/>
        <activity
            android:name=".ui.EditShopDeliveryFeeActivity"
            android:label="@string/title_activity_edit_shop_delivery_fee"/>
        <activity android:name=".ui.EditShopAddressActivity"/>
        <activity android:name=".ui.EditShopAddressDetailActivity"/>
        <activity android:name=".ui.EditShopRegionActivity"/>

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY_VALUE}"/>
        <!-- 地图 -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="${TENCENTMAPSDK_VALUE}"/>

        <activity
            android:name=".ui.BankMgrActivity"
            android:label="@string/title_activity_bank_mgr">
        </activity>
        <activity
            android:name=".ui.AddBankActivity"
            android:label="@string/title_activity_add_bank">
        </activity>
        <activity
            android:name=".ui.GoodDetailWebActivity"
            android:label="@string/title_activity_good_detail_web">
        </activity>
        <activity android:name=".ui.RechargeActivity">
        </activity>
        <activity android:name=".ui.PayWayActivity">
        </activity>


        <!-- pay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <activity
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:targetActivity=".ui.UserBillActivity"
            android:theme="@android:style/Theme.Translucent"/>

    </application>

</manifest>
